{% extends "::base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h1>Hello !</h1>
        <p>User Bundler -> readAction -> TODO.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
{% endblock %}
